.gitignore
*.gif
*.png
*.jpg
*.jpeg
*.bmp
*.xlsx
dbcli.xml
settings.*
screenshot*.*
__pycache__/
LICENSE
README.*
*.log
.DS_Store
*.db
*.bak
*.exe
*.com
build.properties
pom.xml
bin/
target/
dist/
META-INF/
.project
.classpath
.settings/
